@import url("reset.css");
@import url("variables.css");
@import url("fonts.css");

/*global font style*/
body {
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-regular);
}
/*global font-sizes*/

h1 {
  color: var(--darkest-color);
  font-size: var(--font-xxl);
  font-weight: var(--font-bold);
  letter-spacing: 0.15rem;
  margin-bottom: var(--margin-3);
}

h2 {
  color: var(--dark-color);
  font-size: var(--font-xl);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--margin-3);
}

h3 {
  color: var(--dark-color);
  font-size: var(--font-l);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--margin-3);
}

h4 {
  color: var(--dark-color);
  font-size: var(--font-m);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--margin-3);
}

p {
  color: var(--medium-color);
  font-size: var(--font-s);
  font-weight: var(--font-regular);
  margin-block: var(--margin-0);
}

.small-font {
  color: var(--dark-color);
  font-size: var(--font-xs);
  font-weight: var(--font-regular);
}

button {
  transition: transform 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.025);
  cursor: pointer;
}

.primaryButton {
  background: var(--primary-color);
  border-radius: 30rem;
  box-shadow: var(--box-shadow-small);
  color: var(--lightest-color);
  font-weight: var(--font-bold);
  padding: var(--padding-1);
}

.secondaryButton {
  background: var(--lightest-color);
  border-radius: 30rem;
  border: 2px solid var(--medium-color);
  box-shadow: var(--box-shadow-small);
  color: var(--dark-color);
  font-weight: var(--font-semi-bold);
  padding-block: var(--padding-1);
  padding-inline: var(--padding-2);
}

/*Global form styling*/

.formInput {
  display: flex;
  flex-direction: column;
}

.deleteButton {
  padding-left: var(--padding-0);
  margin-left: var(--margin-0);
}

.voteArrow,
.deleteButton {
  color: var(--dark-color);
  background: transparent;
  border: none;
  font-size: var(--font-s);
  transition: all 0.2s ease-in-out;
}

.voteArrow:hover,
.deleteButton:hover {
  color: var(--medium-color);
  transform: scale(1.2);
}

.voteArrow:disabled {
  color: var(--medium-color);
}

/*Container for each page-level component*/

.pageContainer {
  margin: auto;
  flex: 1;
  padding: 1rem;
  position: relative;
  width: 80%;
}
